<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'
      rel='stylesheet'
    />

    <title>Document</title>
  </head>
  <body style='font-family: Poppins, sans-serif; margin: 0; padding: 0;'>
    <div
      style='
        padding: 16px;
        background-color: #ffffff;
        max-width: 600px;
        margin: 0 auto;
      '
    >
      <!-- Centering the logo using table layout -->
      <table
        width='100%'
        cellpadding='0'
        cellspacing='0'
        style='background-color: #f4f4f4; margin: 0 auto; text-align: center;'
      >
        <tr>
          <td style='padding: 10px;'>
            <img
              src='https://res.cloudinary.com/dzuqktieg/image/upload/v1730659800/user_profiles/ertfwodnapapada5c0e7.png'
              alt='Hisown logo'
              style='width: 200px; height: auto; display: inline-block;'
            />
          </td>
        </tr>
      </table>

      <div
        style='
    text-align: center;
    padding: 8px;
    background-color: #0adb80;
    margin-top: 10px;
  '
      >
        <p style='color: #ffffff; font-weight: 700; font-size: 15px'>
          EINLADUNG ANGENOMMEN
        </p>
      </div>

      <div style='padding-top: 10px;'>
        <p
          style='
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >Hallo, {{name}}!</p>
        <p
          style='
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >
          Dein Freund
          <span
            style='
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
      '
          >{{friendsName}}</span>
          hat gerade deine Einladung angenommen, deiner Community beizutreten.
          <br /><br />
          Du kannst auf diese Aktion antworten, indem du auf den
          <span
            style='
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
      '
          >"Überprüfen"</span>
          -Button unten tippst.
          <br /><br />
        </p>

        <div
          style='
      text-align: center;
      padding: 2px;
      background-color: #005050;
      margin-top: 40px;
      margin-bottom: 40px;
    '
        >
          <a href='{{link}}' style='text-decoration: none; color: #ffffff'>
            <p
              style='color: #ffffff;
        font-size: 14px;
        font-weight: 900;
        line-height: 21px;
        letter-spacing: 0.05em;'
            >ÜBERPRÜFEN</p>
          </a>
        </div>

        <br />
      </div>

      <div
        style='
    border-top: 4px solid #0adb80;
    background-color: #ecfcf5;
    padding: 12px;
    margin-top: 30px;
  '
      >
        <p
          style='
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >WARUM ERHALTEN SIE DIESE E-MAIL?</p>
        <p
          style='
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >
          Diese E-Mail wurde an
          <span
            style='
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #0adb80;'
          >{{email}}</span>
          gesendet. Wenn Sie diese E-Mail erhalten, liegt es daran, dass Sie ein
          aktiver Nutzer der HISOWN-Software sind. Falls dies nicht der Fall ist
          und Sie kein Nutzer unserer Software sind, empfehlen wir Ihnen, diese
          E-Mail-Benachrichtigung aus Sicherheitsgründen zu ignorieren.
        </p>
        <p
          style='
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >DATENSCHUTZ- UND DATENSCHUTZRICHTLINIE</p>
        <p
          style='
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >
          Ihre Privatsphäre und die Sicherheit Ihrer Daten sind uns äußerst
          wichtig. Wir verpflichten uns, die von Ihnen bereitgestellten
          Informationen zu schützen und werden diese nur in Übereinstimmung mit
          den geltenden Datenschutzbestimmungen und unseren internen Richtlinien
          verwenden.
          <br /><br />
          Alle personenbezogenen Daten, die Sie angeben oder die durch die
          Nutzung unserer Software gesammelt werden, werden gemäß den geltenden
          Datenschutzgesetzen verarbeitet, einschließlich der
          Datenschutz-Grundverordnung (DSGVO), falls zutreffend.
          <br /><br />
          Weitere Informationen darüber, wie wir Ihre Daten handhaben, finden
          Sie in unserer
          <span
            style='color: #0adb80; text-decoration: underline;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;'
          >Datenschutzrichtlinie</span>
          und
          <span
            style='color: #0adb80; text-decoration: underline;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;'
          >AGB</span>. Durch die weitere Nutzung der HISOWN-Software stimmen Sie
          diesen Bedingungen und der Verarbeitung Ihrer Daten gemäß diesen
          Richtlinien zu.
        </p>
        <p
          style='
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.01em;
      text-align: left;'
        >KONTAKTIEREN SIE UNS</p>
        <p
          style='
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >
          Wenn Sie Fragen oder Bedenken zu Ihren Daten haben oder eines Ihrer
          Rechte, wie z. B. den Zugriff, die Berichtigung oder Löschung Ihrer
          Daten, ausüben möchten, kontaktieren Sie uns bitte unter
          <span
            style='color: #0adb80;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.01em;'
          >hisown.official@gmail.com</span>. Wir sind hier, um Transparenz,
          Sicherheit und Kontrolle über die persönlichen Informationen zu
          gewährleisten, die Sie uns anvertrauen.
        </p>
        <p
          style='
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.01em;
      text-align: left;'
        >HILFE UND UNTERSTÜTZUNG:</p>
        <p
          style='
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >
          Wenn etwas an unserer Anwendung Sie stört oder Sie ein Problem mit der
          Software haben, füllen Sie bitte ein Formular auf unserer
          <span
            style='color: #0adb80; text-decoration: underline; font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;'
          >Hilfe- und Support-Seite</span>
          aus, und wir werden uns innerhalb von 48 Stunden (Werktage) bei Ihnen
          melden.
        </p>

        <p
          style='
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.01em;
      text-align: left;'
        >STANDORT</p>
        <p
          style='
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >Sieben Bauern, Minden, NRW, Germany</p>

        <p
          style='
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -0.01em;
      text-align: left;'
        >SOZIALE NETZWERKE</p>

        <div>
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/uav7ue9jkdi3ubkglhtd.png'
            alt='fb'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/kpvshczxy7amniexfnw9.png'
            alt='ig'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/auvueex58dywtwbq7bha.png'
            alt='whatsapp'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/mijityfk8zahswuyzgt7.png'
            alt='telegram'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/dguzeuc8zrowjpb1irdk.png'
            alt='youtube'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
        </div>

      </div>
    </div>
  </body>
</html>