<html lang='uk'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'
      rel='stylesheet'
    />

    <title>Document</title>
  </head>
  <body style='font-family: Poppins, sans-serif; margin: 0; padding: 0;'>
    <div
      style='
        padding: 16px;
        background-color: #ffffff;
        max-width: 600px;
        margin: 0 auto;
      '
    >
      <!-- Centering the logo using table layout -->
      <table
        width='100%'
        cellpadding='0'
        cellspacing='0'
        style='background-color: #f4f4f4; margin: 0 auto; text-align: center;'
      >
        <tr>
          <td style='padding: 10px;'>
            <img
              src='https://res.cloudinary.com/dzuqktieg/image/upload/v1730659800/user_profiles/ertfwodnapapada5c0e7.png'
              alt='Hisown logo'
              style='width: 200px; height: auto; display: inline-block;'
            />
          </td>
        </tr>
      </table>

      <div
        style='
    text-align: center;
    padding: 8px;
    background-color: #0adb80;
    margin-top: 10px;
  '
      >
        <p style='color: #ffffff; font-weight: 700; font-size: 15px'>
          НОВЕ ЗАПРОШЕННЯ
        </p>
      </div>

      <div style='padding-top: 10px;'>
        <p
          style='
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >Привіт, {{name}}!</p>
        <p
          style='
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-align: left;
    '
        >
          Ваш друг
          <span
            style='
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
      '
          >{{friendsName}}</span>
          щойно запросив вас приєднатися до своєї спільноти.
          <br /><br />
          Ви можете відреагувати на цю дію, натиснувши кнопку
          <span
            style='
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;
      '
          >"переглянути"</span>
          нижче.
          <br /><br />
        </p>

        <div
          style='
      text-align: center;
      padding: 2px;
      background-color: #005050;
      margin-top: 40px;
      margin-bottom: 40px;
    '
        >
          <a href='{{link}}' style='text-decoration: none; color: #ffffff'>
            <p
              style='color: #ffffff;
        font-size: 14px;
        font-weight: 900;
        line-height: 21px;
        letter-spacing: 0.05em;'
            >ПЕРЕГЛЯНУТИ</p>
          </a>
        </div>

        <br />
      </div>

      <div
        style='
          border-top: 4px solid #0adb80;
          background-color: #ecfcf5;
          padding: 12px;
          margin-top: 30px;
        '
      >
        <p
          style='
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
  '
        >ЧОМУ ВИ ОТРИМУЄТЕ ЦЕЙ ЛИСТ?</p>
        <p
          style='
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
  '
        >
          Цей лист було надіслано на адресу
          <span
            style='
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.01em;
      color: #0adb80'
          >{{email}}</span>. Якщо ви отримуєте цей лист, це означає, що ви є
          активним користувачем програмного забезпечення HISOWN. Якщо це не так
          і ви не є користувачем нашого програмного забезпечення, ми
          рекомендуємо вам ігнорувати це повідомлення з міркувань безпеки.
        </p>
        <p
          style='
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
  '
        >ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ ТА ЗАХИСТ ДАНИХ</p>
        <p
          style='
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
  '
        >
          Ваша конфіденційність та безпека ваших даних є надзвичайно важливими
          для нас. Ми прагнемо захищати інформацію, якою ви з нами ділитеся, і
          будемо використовувати її лише відповідно до відповідних норм
          конфіденційності та наших внутрішніх політик.
          <br /><br />
          Будь-які персональні дані, які ви надаєте або які збираються під час
          використання нашого програмного забезпечення, будуть оброблятися
          відповідно до чинних законів про захист даних, включаючи, але не
          обмежуючись Загальним регламентом захисту даних (GDPR), якщо він
          застосовується.
          <br /><br />
          Для отримання додаткової інформації про те, як ми обробляємо ваші
          дані, будь ласка, ознайомтеся з нашими
          <span
            style='color: #0adb80; text-decoration: underline; 
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
  '
          >Політикою конфіденційності</span>
          та
          <span
            style='color: #0adb80; text-decoration: underline; 
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
  '
          >Умовами використання</span>. Продовжуючи користуватися програмним
          забезпеченням HISOWN, ви погоджуєтесь з цими умовами та обробкою ваших
          даних, як зазначено у цих політиках.
        </p>

        <p
          style='
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;'
        >КОНТАКТ З НАМИ</p>
        <p
          style='
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
  '
        >
          Якщо у вас є будь-які питання чи занепокоєння щодо ваших даних або ви
          хочете скористатися будь-якими з ваших прав, такими як доступ,
          виправлення або видалення ваших даних, будь ласка, зв'яжіться з нами
          за адресою
          <span
            style='color: #0adb80; 
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;'
          >hisown.official@gmail.com</span>. Ми тут, щоб забезпечити прозорість,
          безпеку та контроль над особистою інформацією, яку ви нам довіряєте.
        </p>
        <p
          style='
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;'
        >ДОПОМОГА ТА ПІДТРИМКА:</p>
        <p
          style='
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
  '
        >
          Якщо щось у нашій програмі вас дратує або якщо ви стикаєтеся з
          проблемою з програмним забезпеченням, будь ласка, заповніть форму на
          нашій
          <span
            style='color: #0adb80; text-decoration: underline; font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;'
          >сторінці допомоги та підтримки</span>, і ми зв'яжемося з вами
          протягом 48 годин (робочі дні).
        </p>

        <p
          style='
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;'
        >ЛОКАЦІЯ</p>
        <p
          style='
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
  '
          {{! >Зібан Баурен, Мінден, Північний Рейн-Вестфалія, Німеччина</p> }}
        >Sieben Bauern, Minden, NRW, Germany</p>

        <p
          style='
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;'
        >СОЦІАЛЬНІ МЕРЕЖІ</p>

        <div>
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/uav7ue9jkdi3ubkglhtd.png'
            alt='fb'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/kpvshczxy7amniexfnw9.png'
            alt='ig'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/auvueex58dywtwbq7bha.png'
            alt='whatsapp'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/mijityfk8zahswuyzgt7.png'
            alt='telegram'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/dguzeuc8zrowjpb1irdk.png'
            alt='youtube'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
        </div>

      </div>
    </div>
  </body>
</html>