<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/css?family=Poppins'
      rel='stylesheet'
    />
    <title>Document</title>
  </head>
  <body style='font-family: Poppins, sans-serif; margin: 0; padding: 0;'>
    <div
      style='
        padding: 16px;
        background-color: #ffffff;
        max-width: 600px;
        margin: 0 auto;
      '
    >
      <!-- Centering the logo using table layout -->
      <table
        width='100%'
        cellpadding='0'
        cellspacing='0'
        style='background-color: #f4f4f4; margin: 0 auto; text-align: center;'
      >
        <tr>
          <td style='padding: 10px;'>
            <img
              src='https://res.cloudinary.com/dzuqktieg/image/upload/v1730659800/user_profiles/ertfwodnapapada5c0e7.png'
              alt='Hisown logo'
              style='width: 200px; height: auto; display: inline-block;'
            />
          </td>
        </tr>
      </table>

      <div
        style='
          text-align: center;
          padding: 8px;
          background-color: #0adb80;
          margin-top: 10px;
        '
      >
        <p style='color: #ffffff; font-weight: 700; font-size: 18px'>
          WELCOME TO HISOWN
        </p>
      </div>

      <div style='padding-top: 10px'>
        <h3>Hey there, {{name}}!</h3>
        <p>
          Welcome to HISOWN!
          <br /><br />To complete your registration and activate your account,
          please verify your email by entering the following One-Time Password
          (OTP) in the app:<br /><br />
          OTP:
          <span style='font-weight: 700'>{{verificationCode}}</span>
          <br /><br />
          This OTP is valid for the next 30 minutes. If you did not sign up for
          a HISOWN account, please ignore this email.
          <br /><br />

          Welcome to the community! We're excited to have you with us.
          <br /><br />
          Warm regards,
          <br /><span style='font-weight: 700'>Your HISOWN Team</span>
        </p>
      </div>

      <div
        style='
          text-align: center;
          padding: 2px;
          background-color: #005050;
          margin-top: 40px;
          margin-bottom: 40px;
        '
      >
        <p style='color: #ffffff; font-weight: 700; font-size: 18px'>SIGN IN</p>
      </div>

      <div
        style='
          border-top: 4px solid #0adb80;
          background-color: #ecfcf5;
          padding: 12px;
        '
      >
        <h4 style='font-weight: 700'>WHY ARE YOU RECEIVING THIS EMAIL?</h4>
        <p>
          This email was sent to
          <span style='font-weight: 700; color: #0adb80'>{{email}}</span>. If
          you are receiving this email it is because you are an active user of
          the HISOWN software. If this is not the case and you are not a user of
          our software, we would recommend you ignore this email notification
          for security reasons.
        </p>
        <h4 style='font-weight: 700'>PRIVACY POLICY AND DATA PROTECTION</h4>
        <p>
          Your privacy and the security of your data are of utmost importance to
          us. We are committed to protecting the information you share with us,
          and we will only use it in compliance with relevant privacy
          regulations and our internal policies.
          <br /><br />
          Any personal data you provide or that is collected by using our
          software will be processed in accordance with applicable data
          protection laws, including but not limited to the General Data
          Protection Regulation (GDPR) if applicable.
          <br /><br />
          For further information on how we handle your data, please refer to
          our
          <span style='color: #0adb80; text-decoration: underline'>Privacy
            Policy</span>
          and
          <span style='color: #0adb80; text-decoration: underline'>Terms and
            Conditions</span>. By continuing to use HISOWN software, you agree
          to these terms and the processing of your data as described in these
          policies.
        </p>
        <h4 style='font-weight: 700'>CONTACT US</h4>
        <p>
          If you have any questions or concerns regarding your data or wish to
          exercise any of your rights, such as access, rectification, or
          deletion of your data, please contact us at
          <span
            style='color: #0adb80; font-weight: 900'
          >hisown.official@gmail.com</span>. We are here to ensure transparency,
          security, and control over the personal information you entrust to us.
        </p>
        <h4 style='font-weight: 700'>HELP AND SUPPORT:</h4>
        <p>
          If anything on our application is getting on your nerves, or if you're
          experiencing an issue with the software, please fill out a form on our
          <span style='color: #0adb80; text-decoration: underline'>help and
            support page</span>, and we will get back to you within 48hrs (Work
          days).
        </p>

        <h4 style='font-weight: 700'>LOCATION</h4>
        <p>Sieben Bauern, Minden, NRW, Germany</p>

        <h4 style='font-weight: 700'>SOCIALS</h4>

        <div>
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/uav7ue9jkdi3ubkglhtd.png'
            alt='fb'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/kpvshczxy7amniexfnw9.png'
            alt='ig'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/auvueex58dywtwbq7bha.png'
            alt='whatsapp'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/mijityfk8zahswuyzgt7.png'
            alt='telegram'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
          <img
            src='https://res.cloudinary.com/dbpcgsyne/image/upload/v1731223252/socials/dguzeuc8zrowjpb1irdk.png'
            alt='youtube'
            width='36'
            height='36'
            style='padding: 2px; border: 2px solid white; border-radius: 50%; background-color: white; margin-right: 3px;'
          />
        </div>
      </div>
    </div>
  </body>
</html>